<%= form_for @sales_order do |f| %>
    <%= f.label :sales_order_customer %>
    <% if @customer %>
        <%= f.collection_select :customer_id, Customer.all, :id, :name, {selected: @customer.id} %>
    <% else %>
        <%= f.collection_select :customer_id, Customer.all, :id, :name %>
    <% end %>
    <p>

        <%= f.fields_for :sales_order_lines do |sol| %>
            Select An Existing Product<p>
            <%= sol.label :product %>
            <%= sol.collection_select :product_id, Product.all, :id, :name %>

            <%= sol.fields_for :product do |p| %>
                <p>Or Create A New Product</p>
                <%= p.label :name %>
                <%= p.text_field :name %>
                <p>

                <%= p.label :description %>
                <%= p.text_field :description %>
                <p>
                <%= p.label :part_number %>
                <%= p.text_field :part_number %>
                <p>
            <% end %>
            <p>
            <%= sol.label :qty %>
            <%= sol.text_field :qty %>
            <p>

            <%= sol.label :price %>
            <%= sol.text_field :price %>
            <p>


        <% end %>
    <p><%= f.submit %>
<% end %>
