<%= render partial: "layouts/errors", locals: {object: @sales_order} %>
<%= form_for @sales_order do |f| %>
    <hr>
    <%= f.label :sales_order_customer %>
    <% if @customer %>
        <%= f.collection_select :customer_id, Customer.all, :id, :name, {selected: @customer.id} %>
    <% else %>
        <%= f.collection_select :customer_id, Customer.all, :id, :name %>
    <% end %>

    <div class="container">
        <%= f.fields_for :sales_order_lines do |sol| %>
            <%= hidden_field_tag :sales_order_line_id, sol.object.id %>
            <div class="line_number" ><%= "Line # #{sol.object.line_number}" if sol.object.line_number %></div>
            <div class="product_create" >
                <%= sol.fields_for :product do |p| %>
                    <p>
                        Create A New Product
                    </p>
                    <p>
                        <%= p.label :name %>
                        <%= p.text_field :name, value: "" %>
                    </p>
                    <p>
                        <%= p.label :description %>
                        <%= p.text_field :description, value: "" %>
                    </p>
                    <p>
                        <%= p.label :part_number %>
                        <%= p.text_field :part_number, value: "" %>
                    </p>
            </div>
            <div class="product_select" >
                <p>
                    Or Select An Existing Product (Leave Blank To Create A New Product)
                </p>
                <p>
                    <%= sol.label :product_id %>
                    <%= sol.collection_select :product_id, Product.all, :id, :name, include_blank: true %>
                </p>
            </div>
            <% end %>
            <div class="clear_fix">
                <hr>
                Enter Quantity And Sales Price For This Order
                <p>
                    <%= sol.label :qty %>
                    <%= sol.text_field :qty %>
                </p>
                <p>
                    <%= sol.label :price %>
                    <%= sol.text_field :price %>
                </p>
            </div>
        <% end %>
    </div>
    <%= f.submit %>
<% end %>
