<%= form_for @sales_order_line do |f| %>
    <hr>
    <div class="container">
        <div class="product_create">
            <%= f.fields_for :product do |p| %>
                Create A New Product

                <p>
                    <%= p.label :name %>
                    <% if !!p.object.name %>
                        <%= p.text_field :name, value: "" %>
                    <% else %>
                        <%= p.text_field :name %>
                    <% end %>
                </p>
                <p>
                    <%= p.label :description %>
                    <% if !!p.object.name %>
                        <%= p.text_field :description, value: "" %>
                    <% else %>
                        <%= p.text_field :description %>
                    <% end %>
                </p>
                <p>
                    <%= p.label :part_number %>
                    <% if !!p.object.name %>
                        <%= p.text_field :part_number, value: "" %>
                    <% else %>
                        <%= p.text_field :part_number %>
                    <% end %>
                </p>
            <% end %>
        </div>
        <div class="product_select">
            Or Select An Existing Product
                (Leave Blank To Create A New Product)
            <p>
                <%= f.label :product_id %>
                <%= f.collection_select :product_id, Product.all, :id, :name, {include_blank: true} %>
            </p>
        </div>
    <div class="clear_fix">
        <hr>
        Enter Quantity And Sales Price For This Line
        <p>
            <%= f.label :qty %>
            <%= f.text_field :qty %>
        </p>
        <p>
            <%= f.label :price %>
            <%= f.text_field :price %>
        </p>
    </div>

    <%= hidden_field_tag :sales_order_id, params[:sales_order_id] %>
    </div>
    <%= f.submit %>
<% end %>
